* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* root css */
:root {
  --primary-color: #2699fb;
  --font-base: 22px;
  --primary-gradient: linear-gradient(96deg, #0acefe -7%, #2699fb 51%), linear-gradient(96deg, #0acefe -7%, #2699fb 51%);
  --h1-heading: 52px;
  --h2-heading: 44px;
  --btn-text: 20px;
  --heading-color: #0a2134;
  --text-color: #0a2134;
  --text-sh-color: #43505b;
  --text-blue-color: #2699fb;
  --box-shadow: 0 4px 20px -2px rgba(0, 47, 88, 0.08);
  --light-bg: #f7faff;
  --color-bg: linear-gradient(96deg, #0acefe -7%, #2699fb 51%), linear-gradient(96deg, #0acefe -7%, #2699fb 51%);
  --footer-bg-color: #0a2540;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* page width container */
.container {
  width: 1170px;
  margin: auto;
}

/* universal page css */
.btn-fil {
  font-size: var(--btn-text);
  color: #fff;
  background: var(--primary-gradient);
  padding: 16px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-fil:hover {
  background: var(--primary-gradient);
  position: relative;
  transform: translateY(-4px);
  transition: 0.4s ease-out;
}

.btn-bod {
  font-size: var(--btn-text);
  color: var(--text-color);
  background: #fff;
  padding: 16px 28px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  cursor: pointer;
}

.btn-bod:hover {
  position: relative;
  transform: translateY(-4px);
  transition: 0.4s ease-out;
}

.btn-sm-fil {
  font-size: 16px;
  color: #fff;
  background: var(--primary-gradient);
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-sm-bod {
  font-size: 16px;
  color: var(--text-color);
  background: #fff;
  padding: 10px 18px;
  border: 1px solid #27ae60;
  border-radius: 8px;
  cursor: pointer;
}

.btn-sm-fil:hover {
  position: relative;
  transform: translateY(-4px);
  transition: 0.4s ease-out;
}

.btn-sm-bod:hover {
  position: relative;
  transform: translateY(-4px);
  transition: 0.4s ease-out;
}

.d-flex {
  display: flex;
}

.gap-sm {
  gap: 10px;
}

.gap-md {
  gap: 20px;
}

.d-flex-justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

ul li {
  list-style-type: none;
}


@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    overflow-x: hidden;
    padding: 0 36px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 0 16px;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 32px !important;
    line-height: 1.3;
  }
}

/* /////////////////// header css ////////////////////// */
header {
  margin-bottom: 50px;
  padding-block: 10px;
}

header>div>div>img {
  width: 204px;
  height: 80px;
}

header button img {
  width: 20px;
  height: 20px;
}

.shadow {
  box-shadow: var(--box-shadow);
}

.had-btn button:nth-child(1) {
  display: flex;
}

.had-btn button:nth-child(2) {
  display: none;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  header {
    margin-bottom: 50px;
    padding-block: 10px;
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }

  header>div>div>img {
    width: 130px;
    height: initial;
  }

  .had-btn button:nth-child(1) {
    display: none;
  }

  .had-btn button:nth-child(2) {
    display: block;

  }
}

/* ////////////////// section 1 ///////////////////// */
main section:nth-child(1) {
  margin-bottom: 40px;
}

.left-section,
.right-section {
  width: 50%;
}

.first-left-side h1 {
  font-size: var(--h1-heading);
  color: var(--heading-color);
  padding-bottom: 18px;
}

.first-left-side div h1 span {
  background-image: var(--primary-gradient);
  color: transparent;
  background-clip: text;
}

.first-left-side div p {
  font-size: 22px;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: left;
  color: #0a2134;
  padding-bottom: 18px;
}

.first-left-side div ul li {
  margin-bottom: 16px;
  align-items: center;
}

.first-left-side div ul li img {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.first-left-side div ul span {
  font-size: 22px;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: left;
  color: #10314c;
}

.first-left-side {
  background-image: url("assest/liner.svg");
  background-repeat: no-repeat;
  background-position: 60px 105px;
}
@media screen and (max-width:1024px) {
  .first-left-side {
    background-image: none;
  }
}

.h-btn {
  margin-top: 46px;
}

.h-btn button:last-child i,
.h-btn button:first-child {
  margin-right: 16px;
}

/* .ellipse {
  width: 552px;
  height: 552px;
  border-radius: 100%;
  background-color: #e9f5ff;
} */
.second-right-side {
  position: relative;
  width: 552px;
  height: 552px;
  background-image: url('assest/header-f-right-circle.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-form {
  width: 410px;
  height: 503px;
  gap: 24px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.06), 0 1px 3px 0 rgba(16, 24, 40, 0.1);
  background-color: #fff;
  position: relative;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%); */
}

.h-form {
  animation: upDown 1.2s ease-in-out infinite alternate;
}

.h-form:hover {
  animation: none;
}

@keyframes upDown {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
    /* move up */
  }
}

.h-form-header {
  margin-bottom: 24px;
}

.h-form-header span:first-child {
  display: block;
  margin: 0 0 4px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #101828;
}

.h-form-header span:last-child {
  display: block;
  margin: 4px 0 0;
  font-family: Inter;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #43505b;
}

.h-form-body div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.h-form-body div label {
  font-size: 14px;
  font-weight: 500;
  color: #0a2134;
}

.h-form-body div input {
  font-size: 16px;
  line-height: 1.5;
  color: #43505b;
  height: 44px;
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  outline: 3px solid rgb(226, 226, 237);
  border: 2px solid rgba(16, 24, 40, 0.25);
  background-color: #fff;
}

.h-form-body div input:focus {
  color: #000000;
  border-radius: 8px;
  outline: 3px solid var(--primary-color);
  border: solid 1px #376dc4;
}

.h-form-body div input[type=button] {
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .first-left-side h1 {
    font-size: 44px;
  }

  .first-left-side div p {
    font-size: 21px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .first-left-side div ul span {
    font-size: 20px;
  }

  .h-btn {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    left: 50%;
    margin-top: 70px;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(1) {
    margin-top: 60px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-block: 40px;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .ellipse {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .second-right-side {
    position: relative;
    background-position: center;
    margin-right: 0px;
    margin-top: 48px;
  }

  .h-form {
    width: calc(100%);
    height: initial;
    padding: 30px 16px;
    /* transform: translate(-50%, -50%); */
    animation: none;
  }

  .h-form-header span:first-child {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .h-btn {
    position: initial;
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 40px;
    transform: translateX(0);
  }

  .h-btn button {
    width: 100%;

  }

  .first-left-side div ul li:first-child {
    align-items: start;
  }

  .first-left-side div ul li {
    margin-bottom: 12px;
    align-items: center;
  }

  .first-left-side div ul li img {
    width: 21px;
    height: 21px;

  }

  .first-left-side div ul li:first-child img {
    margin-top: 7px;
  }

  .first-left-side div ul span {
    font-size: 18px;
    line-height: 1.4;

  }
}

/* ////////////////// section 2 ///////////////////// */
main section:nth-child(2)>div {
  height: 146px;
  border-radius: 8px;
  box-shadow: 0 4px 80px -2px rgba(0, 47, 88, 0.08);
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 77px;
}

.sec-numbr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.sec-numbr span:first-child {
  font-size: 30px;
  font-weight: bold;
  color: #2699fb;
}

.sec-numbr span:last-child {
  flex-grow: 0;
  font-size: 16px;
  color: #43505b;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(2)>div {
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(2) {
    padding: 0 16px;
  }

  main section:nth-child(2)>div {
    flex-direction: column;
    gap: 16px;
    height: initial;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-block: 20px;
  }

  .sec-numbr {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px 60px;
    border-radius: 8px;
    gap: 8px;
  }
}

/* ////////////////// section 3 ///////////////////// */
main section:nth-child(3) {
  background-color: var(--light-bg);
  padding-block: 70px;
  margin-block: 77px;
}

.s-header {
  margin-bottom: 40px;
}

.s-header h2 {
  font-size: 44px;
  font-weight: bold;
  color: #0a2134;
  padding-bottom: 16px;
}

.s3-header h2 {
  font-size: 36px;
}

.s-header span {
  font-size: 18px;
  color: #0a2134;
}

.s3-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.s3-card {
  width: 370px;
  height: 118px;
  padding: 16px 46px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px -2px rgba(0, 47, 88, 0.08);
  background-color: #fff;
}

.s3-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.s3-card div span:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #0a2134;
}

.s3-card div span:last-child {
  display: block;
  font-size: 15px;
  line-height: 1.47;
  color: #43505b;
  margin-top: 8px;
}

main section:nth-child(3)>div>div:nth-child(3) {
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .s3-cards {
    gap: 16px;
  }

  .s3-card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(3) {
    padding-block: 50px;
    margin-block: 40px;
  }
}

/* ////////////////// section 4 ///////////////////// */
.s4-header {
  text-align: center;
}

.s4-card {
  width: 270px;
  height: 278px;
  padding: 32px 24px;
  border-radius: 8px;
  border: solid 1px #f2f4f7;
  background-color: #fff;
}

.s4-card div {
  width: 56px;
  height: 56px;
  margin: 0 0 32px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 4px #f2f4f7, 0 1px 2px 0 rgba(16, 24, 40, 0.06), 0 1px 3px 0 rgba(16, 24, 40, 0.1);
  background-color: #fff;
}

.s4-card span:nth-child(2) {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.36px;
  color: #0a2134;
  margin-bottom: 16px;
}

.s4-card span:last-child {
  display: block;
  font-size: 15px;
  line-height: 1.47;
  color: #0a2134;
}

@media screen and (max-width: 1024px) {
  .s4-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .s4-card {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(4) {
    padding-block: 50px;
    margin-block: 40px;
  }

  .s4-cards {
    gap: 15px;
  }

  .s4-card {
    width: 100%;
    height: initial;
    border: 0px solid #ffffff;
    box-shadow: var(--box-shadow);
  }
}

/* ////////////////// section 5 ///////////////////// */
main section:nth-child(5) {
  background-color: var(--light-bg);
  padding-block: 70px;
  margin-block: 77px;
}

.s5-right-section img {
  display: block;
  margin-right: 0;
}

.s5-header h2 {
  font-size: 36px;
}

.s5-left-section>div:last-child {
  margin-top: 64px;
}

.s5-card {
  width: 570px;
  height: 128px;
  margin: 32px 46px 24px 0;
  padding: 24px 23px 24px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 20px -2px rgba(0, 47, 88, 0.08);
  border: solid 1px #f2f4f7;
  background-color: #fff;
}

.s5-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.s5-card div span:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #0a2134;
}

.s5-card div span:last-child {
  display: block;
  font-size: 15px;
  line-height: 1.47;
  color: #43505b;
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(5)>div {
    padding-block: 0;
    flex-wrap: wrap;
  }

  main section:nth-child(5)>div>div {
    width: 100%;
    padding: 0;
  }

  .s5-card {
    width: 100%;
    height: 128px;
  }

  .s5-left-section div:last-child {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(5) {
    padding-block: 50px;
    margin-block: 40px;
  }

  .s5-card {
    height: initial;
    margin: 0;
    margin-bottom: 16px;
  }

  .s5-left-section>div:last-child {
    text-align: center;
    margin-top: 45px;
  }

  .s5-right-section img {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }
}

/* ////////////////// section 6 ///////////////////// */
main section:nth-child(6) {
  padding-block: 70px;
  margin-block: 77px;
}

.s6-header {
  text-align: center;
  margin-bottom: 60px;
}

.s6-body>ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.s6-body .active a {
  font-size: 17px;
  font-weight: 500;
  color: #43505b;
  padding: 12px 18px 16px;
  border-bottom: 4px solid #2699fb;
  background-color: #f2f4f7;
}

.s6-body>ul>li {
  padding: 12px 0 16px;
}

.s6-body>ul>li a {
  font-size: 17px;
  font-weight: 500;
  color: #43505b;
  padding: 12px 18px 16px;
  /* border-bottom: 4px solid #2699fb;
  background-color: #f2f4f7; */
}

.s6-body>ul>li a:hover {
  font-size: 17px;
  font-weight: 500;
  color: #43505b;
  padding: 12px 18px 16px;
  border-bottom: 4px solid #2699fb;
  background-color: #f2f4f7;
}

.s6-body>ul>li a:active {
  font-size: 17px;
  font-weight: 500;
  color: #43505b;
  padding: 12px 18px 16px;
  border-bottom: 4px solid #2699fb;
  background-color: #f2f4f7;
}

.s6-tab-card1 {
  top: 100%;
  left: 0;
  margin-top: 24px;
  width: 1170px;
  padding: 32px 39px 52px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 20px -2px rgba(0, 47, 88, 0.08);
  border: solid 1px #f2f4f7;
  background-color: #fff;
}

.s6-tab-card1 ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.s6-tab-card1 ul li {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: top;
  gap: 16px;
}

.s6-tab-card1 ul li span:first-child img {
  width: 28px;
  height: 28px;
}

.s6-tab-card1 ul li span:last-child {
  color: #0a2134;
  font-size: 20px;
}

main section:nth-child(6)>div>div:last-child {
  text-align: center;
  margin-top: 48px;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(6) {
    padding-block: 0px;
  }

  /* left card  */
  .s6-body {
    width: 100%;
    display: flex;
    gap: 30px;
  }

  .s6-body>ul {
    width: 30%;
    margin-top: 5px;
    flex-direction: column;
  }

  .s6-body>ul>li {
    padding: 0 0 8px;
  }

  .s6-body>ul>li a {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
  }

  /* right card */
  .s6-tab-card1 {
    width: 70%;
    margin-top: 0;
  }

  .s6-tab-card1 ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
  }

  .s6-tab-card1 ul li span:last-child {
    color: #0a2134;
    font-size: 18px;
    line-height: 1.6;
  }

  .s6-tab-card1 ul li {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(6) {
    padding-block: 50px;
    margin-block: 40px;
  }

  .s6-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .s6-body>ul {
    width: initial;
    flex-direction: row;
    margin-bottom: 0;
  }

  .s6-tab-card1 {
    width: 100%;
    margin-top: 0;
    padding: 32px 45px 45px 20px;
  }

  .s6-body>ul>li a {
    width: 150px;
    font-size: 17px;
    font-weight: 500;
    color: #43505b;
    padding: 12px 18px 16px;

  }


}

/* ////////////////// section 7 ///////////////////// */
main section:nth-child(7) {
  background-color: #f7faff;
  padding-block: 70px;
  margin-block: 0 77px;
}

.s7-card {
  width: 370px;
  height: 284px;
  margin: 0px 0px 30px 0;
  padding: 40px 34px 44px 32px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: solid 1px #f2f4f7;
  background-color: #fff;
}

.s7-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
}

.s7-card img {
  width: 64px;
  height: 64px;
}

.s7-card div span:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #0a2134;
}

.s7-card div span:last-child {
  display: block;
  font-size: 15px;
  line-height: 1.7;
  color: #43505b;
  margin-top: 10px;
}

main section:nth-child(7)>div>div:last-child {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .s7-cards {
    display: flex;
    gap: 20px;
  }

  .s7-card {
    width: 370px;
    height: initial;
  }

  main section:nth-child(7)>div>div:last-child {
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(7) {
    padding-block: 50px;
    margin-block: 40px;
  }

  .s7-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .s7-card {
    width: 100%;
    height: initial;
    margin: 0;
  }
}

/* ////////////////// section 8 ///////////////////// */
main section:nth-child(8) {
  padding-block: 70px;
  margin-block: 0px;
}

.s8-testimonial-cards {
  gap: 30px;
}

.s8-testimonial-card {
  width: 570px;
  height: 285px;
  padding: 32px 33px 31px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 20px -2px rgba(0, 47, 88, 0.08);
  border: solid 1px #f2f4f7;
  background-color: #fff;
}

.s8-testimonial-card>div {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.s8-testimonial-card>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.s8-testimonial-card>div>div span:first-child {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #0a2134;
}

.s8-testimonial-card>div>div span:last-child {
  font-size: 15px;
  line-height: 1.47;
  color: #0a2134;
}

.s8-testimonial-card>span {
  display: block;
  font-size: 18px;
  line-height: 1.67;
  color: #0a2134;
  margin-top: 18px;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(8) {
    padding-block: 0px;
    margin-block: 0px;
  }

  .s8-testimonial-card {
    width: 570px;
    height: initial;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(8) {
    padding-block: 50px;
    margin-block: 40px;
  }

  .s8-testimonial-cards {
    width: 1170px;
    position: relative;
    overflow-x: hidden;
    gap: 30px;
    margin-top: -15px;
  }

  .s8-testimonial-card {
    width: 380px;
    height: initial;
  }
}

/* ////////////////// section 9 ///////////////////// */
main section:nth-child(9) {
  margin-block: 77px;
}

main section:nth-child(9)>div {
  width: 1170px;
  height: 384px;
  margin: auto;
  object-fit: contain;
  border-radius: 16px;
  background-image: linear-gradient(99deg, #0acefe -6%, #2699fb 51%);
}

main section:nth-child(9)>div>div {
  width: 1170px;
  height: 384px;
  object-fit: contain;
  border-radius: 16px;
  overflow: hidden;
  background-image: url("assest/linesbg.png");
}

.s8-body {
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 0 300px;
  margin: auto;
}

.s8-body h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.s8-body span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  text-align: center;
  color: #fff;
  margin-top: 8px;
}

.s8-body button {
  font-weight: bold;
  margin-top: 24px;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(9) {
    width: 100%;
  }

  main section:nth-child(9)>div {
    width: 90%;
    margin: 0 auto;
    height: initial;
  }

  main section:nth-child(9)>div>div {
    width: 100%;
    height: initial;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .s8-body {
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 80px 36px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(9) {
    padding-block: 0 50px;
    margin-block: 0 40px;
  }

  .s8-body {
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 60px 25px;
    margin: auto;
  }

  .s8-body button {
    font-weight: bold;
    margin-top: 38px;
  }
}

/* ////////////////// section 10 ///////////////////// */
.s10-faq-block {
  width: 770px;
  margin: auto;
  padding: 20px 20px 10px 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: 2px solid var(--text-blue-color);
}

.s10-faq-block div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.s10-faq-block div>span {
  font-size: 18px;
  font-weight: 600;
  color: #2699fb;
}

.s10-faq-block>span {
  display: block;
  font-size: 16px;
  color: #0a2134;
  line-height: 1.5;
  padding-right: 50px;
}

.s10-faq-container>div:nth-child(n + 2)>span {
  display: none;
}

.s10-faq-container>div:nth-child(n + 2) {
  width: 770px;
  margin: auto;
  padding: 20px 20px 10px 30px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: 2px solid #f2f4f7;
  background-color: #fff;
  margin-bottom: 20px
}

.s10-faq-container>div:nth-child(n + 2)>div span {
  color: #0a2134;
}

main section:nth-child(10)>div>div:last-child {
  text-align: center;
  margin-top: 40px;
}

main section:nth-child(10) {
  background-color: var(--light-bg);
  padding: 77px 0;
}

@media screen and (max-width: 1024px) {

  .s10-faq-block,
  .s10-faq-container>div:nth-child(n + 2) {
    width: 100%;
    margin-bottom: 20px;
  }

  .s10-faq-block div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(10) {
    padding-block: 50px;
    margin-block: 40px;
  }

  .s10-faq-block {
    padding: 24px 30px;
    margin-top: -15px;
  }

  .s10-faq-block,
  .s10-faq-container>div:nth-child(n + 2) {
    width: 100%;
    margin-bottom: 14px;

  }

  .s10-faq-block>span {
    padding-right: 0px;
  }
   
}

/* ////////////////// section 11 ///////////////////// */
main section:nth-child(11) {
  padding: 77px 0;
}

main section:nth-child(11) h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #0a2134;
  margin-bottom: 34px;
}

main section:nth-child(11) img {
  display: block;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  main section:nth-child(11) h2 {
    padding-inline: 150px;
  }

  main section:nth-child(11) img {
    display: block;
    width: 100%;
    padding-inline: 36px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main section:nth-child(11) {
    padding-block: 0 50px;
    margin-block: 40px;
  }

  main section:nth-child(11) h2 {
    padding-inline: 40px;
  }
}

/* ////////////////// section 12 ///////////////////// */
footer {
  width: 100%;
  margin-top: 0px;
  padding: 47px 0 0px;
  background-color: #0a2540;
  text-align: center;
}

footer a img {
  width: 165.8px;
  height: 60px;
}

footer>span {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 29px;
}

footer div span {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  padding: 24px 0 33px;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  footer {
    padding-inline: 16px;
  }

  footer>span {
    display: block;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    margin-top: 14px;
  }

}
